<!DOCTYPE html>
<html lang="en">

<!-- Vertex Shader -->
<script id="vertexshader" type="notjs">

    attribute vec4 a_position;
    void main() {
        gl_Position = a_position;
    }

</script>

<!-- Pixel Shader -->
<script id="pixelshader" type="notjs">

    precision mediump float;
    void main() {
        //Set pixel color to purple
        gl_FragColor = vec4(1, 0, 0.5, 1);
    }

</script>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moving Graphs</title>
    <link rel="icon" href="~/img/favicon_io/android-chrome-192x192.png">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="fillpage">
    <div class="container body-content">
        @RenderBody()
        <canvas id="maincanvas"></canvas>
    </div>
</body>

<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)

</html>
